:root {
    --primary-color: #30afc4;
    --complementary-color: #c45a30;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-weight: lighter;
    line-height: 1.6;
    /* border: 3px solid #30afc4; Replace with the desired border color */
    margin: 20px; /* Adjust the margin to create space between the border and the edges of the browser window */
  }
  
  header {
    margin-bottom: 2rem;
  }
  
  #hero {
    background-color: var(--primary-color);
    color: #fff;
    padding: 2rem 0;
  }

  #hero h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Horizontal offset, Vertical offset, Blur radius, Color */
  }
  
  #hero p {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Horizontal offset, Vertical offset, Blur radius, Color */
  }
  h1, h2 {
    margin-bottom: 1rem;
    margin: 0 auto;
    padding: 2rem 0;
  }
  
  section {
    margin-bottom: 2rem;
    margin: 0 auto;
  }
  
  form {
    max-width: 400px;
    margin: 0;
  }
  
  /* Navbar */
  .navbar {
    background-color: var(--complementary-color);
  }
  
  .navbar-brand {
    color: #fff;
  }
  
  .nav-link {
    color: #fff;
  }
  
  .nav-link:hover {
    color: #ddd;
  }

  .logo {
    max-width: 100px;
    margin-left: 1rem;
  }

  /* About Section Founder Styles */
  #team .img-fluid {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  #team h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  #team p {
    font-size: 1rem;
    color: #666;
  }


  /* Product Styles */
  .product-section {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .product-img {
    border-radius: 5px;  /* Soft rounded corners */
    max-width: 100%;
    height: auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);  /* Slight shadow for depth */
  }

  .vertical-image {
    max-height: 400px; /* Adjust this value based on your design needs */
    width: auto; /* Ensure the width adjusts automatically */
    display: block; /* Makes sure there's no unwanted whitespace around the image */
    margin: 0 auto; /* Centers the image in its container */
  }

  #products h3 {
    margin-top: 20px;
    font-size: 1.6rem;
  }

  #products p {
    font-size: 1.1rem;
    color: #666;
  }

  #products .col-lg-6 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .content {
    padding-left: 40px; /* Adjust this value based on your preference */
  }